@model ArhiCRMv2.Models.Proiect
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <div class="col-md-10">
        @Html.Label(Model.Nume)
    </div>

    <div class="col-md-10">
        @Html.Label(Model.NrProiect)
    </div>

    <div class="col-md-10">
        @if (Model.NrContract == null)
        {
            @Html.Label("NrContract nedefinit");
        }
        else
        {
            @Html.Label(Model.NrContract);
        }

    </div>

    <div class="col-md-10">
        @Html.Label(Model.An)
    </div>

    <div class="col-md-10">
        @Html.Label(Model.TipProiect.Nume)
    </div>

</div>

@using (Ajax.BeginForm("Details", "Proiect", new AjaxOptions { OnSuccess = "OnSuccess", OnFailure = "OnFailure" }))
{
    @Html.HttpMethodOverride(HttpVerbs.Put)

    @Html.HiddenFor(m => m.ID)
    <fieldset>
        <div class="form-horizontal">

            <div class="form-group">
                @Html.LabelFor(m => m.Status, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(m => m.StatusID, new SelectList(ViewBag.ListaStatus, "Value", "Text"), "Selectati statusul", new { @class = "form-control " })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Salveaza modificari" class="btn btn-dark" />
                </div>
            </div>
        </div>
    </fieldset>
}

</hr>
<h2>Beneficiar</h2>
</hr>

Editeaza detaliile
<label class="switch">
    <input type="checkbox" id="editDetalii" onclick="switched()">
    <span class="slider round"></span>
</label>

<div id="divDisplay">
    <div class="col-md-10">
        @if (Model.Beneficiar.Nume == null)
        {
            @Html.Label("Nume beneficiar nu este definit");
        }
        else
        {
            @Html.Label(Model.Beneficiar.Nume);
        }
    </div>
    <div class="col-md-10">
        @if (Model.Beneficiar.Adresa == null)
        {
            @Html.Label("Adresa beneficiar nu este definita");
        }
        else
        {
            @Html.Label(Model.Beneficiar.Adresa);
        }
    </div>
    <div class="col-md-10">
        @if (Model.Beneficiar.CNP == null)
        {
            @Html.Label("CNP beneficiar nu este definit");
        }
        else
        {
            @Html.Label(Model.Beneficiar.CNP);
        }
    </div>
    <div class="col-md-10">
        @if (Model.Beneficiar.SerieCI == null)
        {
            @Html.Label("Serie CI beneficiar nu este definita");
        }
        else
        {
            @Html.Label(Model.Beneficiar.SerieCI);
        }
    </div>
    <div class="col-md-10">
        @if (Model.Beneficiar.NumarCI == null)
        {
            @Html.Label("Numar CI beneficiar nu este definit");
        }
        else
        {
            @Html.Label(Model.Beneficiar.NumarCI);
        }
    </div>
    <div class="col-md-10">
        @if (Model.Beneficiar.Telefon == null)
        {
            @Html.Label("Telefon beneficiar nu este definit");
        }
        else
        {
            @Html.Label(Model.Beneficiar.Telefon);
        }
    </div>
    <div class="col-md-10">
        @if (Model.Beneficiar.Email == null)
        {
            @Html.Label("Email beneficiar nu este definit");
        }
        else
        {
            @Html.Label(Model.Beneficiar.Email);
        }
    </div>
    <div class="col-md-10">
        @if (Model.Beneficiar.PersoanaContact == null)
        {
            @Html.Label("Persoana de contact nu este definita");
        }
        else
        {
            @Html.Label(Model.Beneficiar.PersoanaContact);
        }
    </div>
    <div class="col-md-10">
        @if (Model.Beneficiar.TelefonPersoanaContact == null)
        {
            @Html.Label("Telefon persoana de contact nu este definit");
        }
        else
        {
            @Html.Label(Model.Beneficiar.TelefonPersoanaContact);
        }
    </div>
</div>

@using (Ajax.BeginForm("Edit", "Beneficiar", new { id = Model.BeneficiarID }, new AjaxOptions { OnSuccess = "OnSuccess", OnFailure = "OnFailure" }))
{
    @Html.HttpMethodOverride(HttpVerbs.Put)

    @Html.HiddenFor(m => m.Beneficiar.ID)
    <fieldset>
        <div class="form-horizontal" style="display:none" id="divEdit">

            <div class="form-group">
                @Html.LabelFor(model => model.Beneficiar.Nume, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Beneficiar.Nume, new { @class = "form-control", placeholder = "Nume " })
                    @Html.ValidationMessageFor(model => model.Beneficiar.Nume)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Beneficiar.Adresa, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Beneficiar.Adresa, new { @class = "form-control", placeholder = "Adresa" })
                    @Html.ValidationMessageFor(model => model.Beneficiar.Adresa)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Beneficiar.CNP, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Beneficiar.CNP, new { @class = "form-control", placeholder = "CNP" })
                    @Html.ValidationMessageFor(model => model.Beneficiar.CNP)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Beneficiar.SerieCI, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Beneficiar.SerieCI, new { @class = "form-control", placeholder = "Serie CI" })
                    @Html.ValidationMessageFor(model => model.Beneficiar.SerieCI)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Beneficiar.NumarCI, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Beneficiar.NumarCI, new { @class = "form-control", placeholder = "Numar CI" })
                    @Html.ValidationMessageFor(model => model.Beneficiar.NumarCI)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Beneficiar.Telefon, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Beneficiar.Telefon, new { @class = "form-control", placeholder = "Telefon" })
                    @Html.ValidationMessageFor(model => model.Beneficiar.Telefon)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Beneficiar.Email, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Beneficiar.Email, new { @class = "form-control", placeholder = "Email" })
                    @Html.ValidationMessageFor(model => model.Beneficiar.Email)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Beneficiar.PersoanaContact, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Beneficiar.PersoanaContact, new { @class = "form-control", placeholder = "Persoana Contact" })
                    @Html.ValidationMessageFor(model => model.Beneficiar.PersoanaContact)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Beneficiar.TelefonPersoanaContact, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Beneficiar.TelefonPersoanaContact, new { @class = "form-control", placeholder = "Telefon P.C." })
                    @Html.ValidationMessageFor(model => model.Beneficiar.PersoanaContact)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Salveaza modificari beneficiar" class="btn btn-dark" />
                </div>
            </div>
        </div>
    </fieldset>
}

</hr>
<h2>Amplasament</h2>
</hr>



<script type="text/javascript">
    function OnSuccess(response) {
        alert(response); // Do as per requirement
    }

    function OnFailure(response) {
        alert("Error occurred.");
    }

    function switched() {
        var checkBox = document.getElementById("editDetalii");
        var divE = document.getElementById("divEdit");
        var divD = document.getElementById("divDisplay");
        if (checkBox.checked == true) {
            divD.style.display = "none";
            divE.style.display = "block";
        } else {
            divE.style.display = "none";
            divD.style.display = "block";
        }
    }
</script>

<script src="~/Scripts/jquery-3.5.1.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>